/* Resetiranje defaultnih stilova */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Stilizacija tijela stranice */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Stilizacija naslova */
  h1 {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: black;
  }
  
  /* Stilizacija kontejnera za recepte */
  .recipe-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Stilizacija kartice recepta */
  .recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Stilizacija naslova recepta */
  .recipe-card h3 {
    font-size: 24px;
    color: #333;
  }
  
  /* Stilizacija opisa recepta */
  .recipe-card p {
    font-size: 16px;
    color: #666;
  }
  
  /* Stilizacija dugmeta za prikazivanje sastojaka */
  .recipe-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Stilizacija liste sastojaka */
  .recipe-card ul {
    list-style: none;
    padding-left: 0;
  }
  
  /* Stilizacija stavki u listi sastojaka */
  .recipe-card li {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
  }
  
  /* Stilizacija footer-a */
  footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: #fff;
  }
  
  /* Stilizacija dugmadi u footer-u */
  footer button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
  }
  /* Stilizacija za kontejner forme */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.search-info{
  align-items: center;
  text-align: center;
}

.search-info button{
  background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Stilizacija za input polje */
.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px; /* Prilagodite širinu prema potrebi */
}

/* Stilizacija za dugme */
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Boja dugmeta */
  color: #fff; /* Boja teksta */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Stilizacija za dugme na hover */
.search-button:hover {
  background-color: #0056b3; /* Boja na hover */
}

  /* Responsivnost */
  @media (max-width: 768px) {
    /* Dodajte stilove za manje ekrane po potrebi */
  }
  